body, html {
    font-family: "Lato", sans-serif;
    margin: 0;
    height: 100%;
    background-color: #121943;
}

.app__container {
    margin: 3% 5%;
}

.header {
    background-color: #222222;
    height: 188px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.graph-container {
   display: flex;
   justify-content: space-evenly;
   min-width: 0;
   min-height: 0;
   height: 120vh;
   max-height: 1400px;
   background-color: #121943;
   margin: 20px 40px;
}

.competition-graph-container {
   display: flex;
   flex-direction: column;
   flex: 1.8;
   min-width: 0;
   min-height: 0;
   background-color: #0A165A;
   margin-right: 20px;
}

.competition-graph {
   min-width: 0;
   min-height: 0;
   flex: 1 1 auto;
}

.training-graph-container {
   display: flex;
   flex-direction: column;
   flex: 1;
   min-width: 0;
   min-height: 0;
   background-color: #121943;
}

.time-series-graph-container, .bar-categorical-graph-container {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   flex: 1;
   min-width: 0;
   min-height: 0;
   background-color: #0A165A;
}

.bar-categorical-graph-container{
   margin-bottom: 20px;
}

.time-series-graph, .bar-categorical-graph {
   min-width: 0;
   min-height: 0;
   flex: 1 1 auto;
}

.time-series-button {
   color: #000000;
   test-decoration: none;
   background: #ffffff;
}

.menu {
   margin: 0;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.train-menu {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.competition-title {
   color: white;
   font-size: 2.3em;
   padding: 30px;
   text-align: center;
}

.category-title-container, .time-title-container {
   display: flex;
   padding: 5px 20px;
   justify-content: space-evenly;
   align-items: center;
}

.categorical-graph-title, .time-graph-title {
   color: white;
   font-size: 1.5em;
   text-align: left;
}

.DateRangePickerInput {
   text-align: center;
}

.DateInput, .DateInput_1 {
    Width: 100px;
}

.DateInput_input, .DateInput_input_1 {
  Height: 40px;
  font-size: 0.8em; 
  padding: 0;
  text-align: center;
}

.DateRangePickerInput_arrow_svg, .DateRangePickerInput_arrow_svg_1 {
  Height: 10px !important;
  Width: 10px !important;
  margin-bottom: 5px;
}